{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-md w-1/3">
        <h1 class="text-2xl font-bold mb-6 text-center">Register</h1>

        {{ form_errors(registrationForm) }}

        {% for message in app.flashes('error') %}
            <div class="bg-red-500 text-white px-4 py-2 rounded mb-4">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.email, {
                'label': 'Mail',
                'attr': {'class': 'block text-gray-700 text-sm font-semibold p-2 w-full mb-5 bg-gray-100',
                'placeholder': 'Enter your Mail'}
            }) }}
            {{ form_row(registrationForm.phone, {
                'label': 'Phone number',
                'attr': {'class': 'block text-gray-700 text-sm font-semibold p-2 w-full mb-5 bg-gray-100',
                'placeholder': 'Enter your phone number'}
            }) }}
            {{ form_row(registrationForm.address, {
                'label': 'Address',
                'attr': {'class': 'block text-gray-700 text-sm font-semibold p-2 w-full mb-5 bg-gray-100',
                'placeholder': 'Enter your Adress'}
            }) }}
            {#}
            <label>Agree Terms</label>
            {{ form_widget(registrationForm.agreeTerms, {
                'label': 'Agree Terms',
                'attr': {'class': 'mb-5'}
            }) }}
            {#}
            {{ form_row(registrationForm.plainPassword, {
                'label': 'Password',
                'attr': {'class': 'block text-gray-700 text-sm font-semibold p-2 w-full mb-5 bg-gray-100',
                'placeholder': 'Enter your password'}
            }) }}

            <button type="submit" class="mt-4 py-2 mb-8 bg-blue-500 hover:bg-blue-600 text-white font-bold px-4 rounded-full">
                Register
            </button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
