{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="flex items-center justify-center p-6 bg-secondary">
    <div class="bg-white p-8 rounded-lg shadow-md min-w-96">
        <h1 class="text-2xl font-bold mb-6 text-center">Register</h1>

        {{ form_errors(registrationForm) }}

        {% for message in app.flashes('error') %}
            <div class="bg-red-500 text-white px-4 py-2 rounded mb-4">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(registrationForm) }}

            <div class="flex flex-col">
                {{ form_row(registrationForm.firstname, {
                    'label': 'Firstname',
                    'attr': {'class': 'block text-gray-700 text-sm font-semibold p-2 w-full mb-5 bg-gray-100',
                    'placeholder': 'John'}
                }) }}
                {{ form_row(registrationForm.lastname, {
                    'label': 'Lastname',
                    'attr': {'class': 'block text-gray-700 text-sm font-semibold p-2 w-full mb-5 bg-gray-100',
                    'placeholder': 'Doe'}
                }) }}
                {{ form_row(registrationForm.email, {
                    'label': 'Mail',
                    'attr': {'class': 'block text-gray-700 text-sm font-semibold p-2 w-full mb-5 bg-gray-100',
                    'placeholder': 'john.doe@mail.com'}
                }) }}
                {{ form_row(registrationForm.phone, {
                    'label': 'Phone number',
                    'attr': {'class': 'block text-gray-700 text-sm font-semibold p-2 w-full mb-5 bg-gray-100',
                    'placeholder': '0700000000'}
                }) }}
                {{ form_row(registrationForm.address, {
                    'label': 'Address',
                    'attr': {'class': 'block text-gray-700 text-sm font-semibold p-2 w-full mb-5 bg-gray-100',
                    'placeholder': 'Enter your Adress'}
                }) }}

                {{ form_row(registrationForm.plainPassword, {
                    'label': 'Password',
                    'attr': {'class': 'block text-gray-700 text-sm font-semibold p-2 w-full mb-5 bg-gray-100',
                    'placeholder': '••••••••••'}
                }) }}

                {{ form_widget(registrationForm.agreeTerms, {
                    'attr': {'class': 'inline-block w-max text-gray-700 text-sm font-semibold p-2 bg-gray-100'}
                }) }}
                {{ form_label(registrationForm.agreeTerms, 'I agree to the terms') }}

                <button class="mt-4 py-2 mb-8 bg-blue-500 hover:bg-blue-600 text-white font-bold px-4 rounded-full" type="submit">
                    Register
                </button>

            </div>
        
        <span class="text-1xl font-bold mt-6"> Already have an account ?</span>
        <a class="mt-6 text-blue-500 hover:text-blue-600 font-bold rounded-full" href="{{ path('app_login', { 'instance': current_instance().name }) }}">Login</a>

        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}
