{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-white p-8 rounded-lg shadow-md w-1/3">
        <h1 class="text-2xl font-bold mb-6 text-center">Login</h1>

    <form method="post" class="flex flex-col">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout', { 'instance': current_instance().name }) }}">Logout</a>
            </div>
        {% endif %}

        <label for="username" class="block text-gray-700 text-sm font-semibold mt-5">Mail</label>
        <input type="email" value="{{ last_username }}" placeholder="Enter your mail" name="_username" id="username" class="form-control rounded-lg bg-gray-100 p-2 mt-2" autocomplete="email" required autofocus>
        <label for="password" class="block text-gray-700 text-sm font-semibold mt-8">Password</label>
        <input type="password" name="_password" id="password" placeholder="Enter your password" class="form-control rounded-lg bg-gray-100 p-2 mt-2" autocomplete="current-password" required>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <button class="mt-4 py-2 mb-8 bg-blue-500 hover:bg-blue-600 text-white font-bold px-4 rounded-full" type="submit">
            Sign in
        </button>
    </form>
    <label class="text-1xl font-bold mt-6"> No account ?</label>
    <a class="mt-6 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full" href="{{ path('app_register', { 'instance': current_instance() }) }}">Register</a>
</div>
</div>
{% endblock %}
