{% extends 'base.html.twig' %}

{% block title %}{{ product.label }}{% endblock %}

{% block stylesheets %}
    <style>
        body {
            background-color: #FCFAF7;
        }
    </style>
{% endblock %}

{% block body %}
<div>
    <main class="container mx-auto p-6">
        <a href="{{ path('app_instance_products', {'instance' : current_instance().name} )}}" class="font-bold text-base inline-block mb-4">
            Voir tous les produits
        </a>

        {# <img src="/uploads/images/{{ product.getFirstImage().path }}" alt="{{ product.label }}" width="1200" height="400" class="w-full aspect-[3/1] object-cover rounded-xl">
        <h1 class="text-2xl font-bold mb-4 mt-4">{{ product.label }}</h1>
        <p>{{ product.description }}</p>
        <ul class="list-disc pl-4">
            <li>Loué par {{ product.rentBy.firstname }} {{ product.rentBy.lastname }}</li>
            <li>{{ product.price }}€ / jour</li>
            <li>
                {% if product.canBeRented() %}
                    Disponible
                {% else %}
                    Indisponible
                {% endif %}
            </li>
        </ul> #}
        
        <div class="max-w-2xl mx-auto p-6">
            <!-- Product image -->
            <div class="w-full flex justify-center mb-4">
                <img src="{{ asset('/images/coffee_bean.png') }}" alt="Product Image" class="w-80 h-80 object-cover rounded-lg shadow-md">
            </div>

            <!-- Availaibility -->
            <div class="bg-green-100 text-green-800 p-4 mb-6 rounded-md shadow-md">
                This product is available
            </div>

            <!-- Product title-->
            <h1 class="text-center text-2xl font-bold mb-4">(Product Name)</h1>

            <!-- Description -->
            <div class="mb-6">
                <h2 class="text-lg font-semibold mb-2">Description</h2>
                <p class="text-gray-700 text-base leading-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean purus ipsum, rutrum sollicitudin tellus eget, vestibulum viverra tellus. Sed quis felis at leo venenatis sagittis id in dui. Phasellus eget interdum leo, sed congue risus. Mauris elementum elementum rhoncus. Quisque porttitor, libero ut efficitur auctor, arcu felis aliquet ante, sed tempus nunc enim et sapien. Nullam in nisi iaculis, congue dolor dictum, molestie massa.
                </p>
            </div>

            <!-- Location date -->
            <div class="mb-6" data-controller="flatpickr">
                <h2 class="text-lg font-semibold mb-2">Location Date</h2>
                
                <div>
                    {{ form_label(form.startDate) }}
                    <br/>
                    {{ form_widget(form.startDate, {'attr': {'class': 'start-date'}}) }}
                </div>
                <br/>

                <div>
                    {{ form_label(form.endDate) }}
                    <br/>
                    {{ form_widget(form.endDate, {'attr': {'class': 'end-date'}}) }}
                </div>
            </div>

            <!-- Button "Add to cart" -->
            <div class="w-full flex justify-center">
                <button class="bg-green-500 text-white font-semibold py-2 px-4 rounded-full hover:bg-green-600 transition duration-200">
                    Book this product
                </button>
            </div>
        </div>

    </main>
</div>
{% endblock %}