{% extends 'base.html.twig' %}

{% block title %}{{ product.label }}{% endblock %}

{% block body %}
<div>
    <main class="container mx-auto p-6">
        <a href="{{ path('app_instance_products', {'instance' : current_instance().name} )}}" class="font-bold text-base inline-block mb-4">
            Voir tous les produits
        </a>
                
        <div class="max-w-2xl mx-auto">
            <!-- Product image -->
            <div class="w-full flex justify-center mb-4">
                <img src="{% if product.images|length > 0 %}/uploads/images/{{ product.getFirstImage().path }}{% else %}/uploads/images/default.jpg{% endif %}" alt="{{ product.label }}" class="w-80 h-80 object-cover rounded-lg shadow-md">
            </div>

            <!-- Availaibility -->
            {# {% if product.canBeRented() %}
                <div class="bg-green-100 text-green-800 p-4 mb-6 rounded-md shadow-md">
                    This product is available
                </div>
            {% else %}
                <div class="bg-red-100 text-red-800 p-4 mb-6 rounded-md shadow-md">
                    This product is not available
                </div>
            {% endif %} #}

            <!-- Product title-->
            <h1 class="text-center text-2xl font-bold mb-4">{{ product.label }}</h1>

            <!-- Description -->
            <div class="mb-6">
                <h2 class="text-lg font-semibold mb-2">Description</h2>
                <p class="text-gray-700 text-base leading-6">
                    {{ product.description }}
                </p>
            </div>

            <!-- Location date -->
            {{ form_start(form) }}
            {% if app.user is null %}
            <div>
                <a class="mt-4 py-2 mb-8 bg-accent text-white font-bold px-4 rounded-full" href="{{ path('app_login', { 'instance': current_instance().name }) }}">
                    Sign in to book this product
                </a>
            </div>
            {% else %}
            <div class="mb-6" data-controller="flatpickr" data-disabled="{{ disabledDates }}">
                <h2 class="text-lg font-semibold mb-2">Choose a rental date</h2>
                
                <div class="hidden">
                    {{ form_widget(form.startDate, {'attr': {'class': 'start-date'}}) }}
                    {{ form_widget(form.endDate, {'attr': {'class': 'end-date'}}) }}
                </div>


                <div class="flex items-center space-x-2">
                    <input type="date" id="date-range" class="px-4 py-2 rounded-lg bg-stone-100 hover:bg-stone-200 font-bold text-nowrap" placeholder="Date picker">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="currentColor" d="M5 22q-.825 0-1.412-.587T3 20V6q0-.825.588-1.412T5 4h1V3q0-.425.288-.712T7 2t.713.288T8 3v1h8V3q0-.425.288-.712T17 2t.713.288T18 3v1h1q.825 0 1.413.588T21 6v14q0 .825-.587 1.413T19 22zm0-2h14V10H5zm7-6q-.425 0-.712-.288T11 13t.288-.712T12 12t.713.288T13 13t-.288.713T12 14m-4 0q-.425 0-.712-.288T7 13t.288-.712T8 12t.713.288T9 13t-.288.713T8 14m8 0q-.425 0-.712-.288T15 13t.288-.712T16 12t.713.288T17 13t-.288.713T16 14m-4 4q-.425 0-.712-.288T11 17t.288-.712T12 16t.713.288T13 17t-.288.713T12 18m-4 0q-.425 0-.712-.288T7 17t.288-.712T8 16t.713.288T9 17t-.288.713T8 18m8 0q-.425 0-.712-.288T15 17t.288-.712T16 16t.713.288T17 17t-.288.713T16 18"/></svg>
                </div>
            </div>
            <!-- Button "Add to cart" -->
            <div class="w-full flex justify-center">
                <button class="bg-accent text-white font-semibold py-2 px-4 rounded-full">
                    Book this product
                </button>
            </div>

            {{ form_end(form) }}
            {% endif %}
        </div>

    </main>
</div>
{% endblock %}