{% extends 'super_admin_base.html.twig' %}

{% block title %}Admin dashboard{% endblock %}

{% block body %}
<div class="bg-[#F7FAFC] h-screen">
    <div class="p-5 border-b-2 border-[#E8EDF2] flex items-center justify-between">
        <h1 class="text-2xl font-medium">Welcome {{ app.user.firstname }} {{ app.user.lastname }}</h1>
        <a href="{{ path('app_super_admin_logout') }}" class="w-fit py-2 bg-blue-500 text-white font-bold px-4 rounded-full">Logout</a>
    </div>

    <div class="flex items-center justify-between w-3/4 my-0 mx-auto">
        <h2 class="text-xl">Instances</h2>
        <a href="{{ path('app_super_admin_add_instance') }}" class="w-fit mt-4 py-2 mb-8 bg-blue-500 text-white font-bold px-4 rounded-full">Create an instance</a>
    </div>
    <ul class="space-y-4 w-3/4 my-0 mx-auto flex gap-1 flex-col">
        {% for instance in instanceList %}
            <a href="{{ path('app_instance', {'instance':instance.name}) }}" target="_blank"><li class="p-4 border-2 border-[#E8EDF2] rounded-lg">{{ instance.name }}</li></a>
        {% endfor %}
    </ul>
</div>
{% endblock %}
