{% extends 'base.html.twig' %}

{% block title %}History{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }

    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-family: Arial, sans-serif;
    }

    thead {
        color: black;
    }

    td {
        padding: 12px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }
    tr{
        border-bottom: 1px solid #ddd;
    }

    tr:nth-child(even):hover {
        background-color: #ffffff;
    }

    td p {
        margin: 0;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    .title{

        text-align: left;
        font-size: 20px;
    }

    @media (max-width: 600px) {
        table {
            width: 100%;
            font-size: 14px;
            
        }

        th, td {
            padding: 8px;
        }


}
</style>

<div class="example-wrapper"> 

        <h1>Your rentals</h1>
        <!-- tableau pour l'historique-->
        <!-- boucle pour afficher les elements dans l'historique-->
        {% set currentDate = "now"|date("Y-m-d H:i:s") %}

        <!-- Vérifier s'il y a des locations à venir -->
        {% set hasUpcomingRentals = false %}
        {% set hasRentalHistory = false %}

        <!-- Parcours pour déterminer s'il y a des locations à venir ou passées -->
        {% for rentHistory in historyliste %} 
            {% if rentHistory.getStartedAt()|date("Y-m-d H:i:s") > currentDate %}
                {% set hasUpcomingRentals = true %}
            {% else %}
                {% set hasRentalHistory = true %}
            {% endif %}
        {% endfor %}

        <!-- Affichage des locations à venir -->
        {% if hasUpcomingRentals %}
        <table>

                <thead>
                    <tr>
                        <td class="title"><h1>Upcoming Rental:</h1></td>
                    </tr>
                    <tr>
                        <th>Name Product</th>
                        <th>Price</th>
                        <th>Pickup Date</th>
                        <th>Return Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rentHistory in historyliste %}
                        {% if rentHistory.getStartedAt()|date("Y-m-d H:i:s") > currentDate %}
                            <tr>
                                <td>{{ rentHistory.getProduct().getLabel() }}</td>
                                <td>{{ rentHistory.getPrice() }}€</td>
                                <td>{{ rentHistory.getStartedAt()|date("d-m-Y H:i") }}</td>
                                <td>{{ rentHistory.getEndedAt()|date("d-m-Y H:i") }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
            </tbody>
        {% else %}
            <p>No upcoming rentals.</p>
        {% endif %}
        </table>
        <!-- Affichage de l'historique des locations -->
        {% if hasRentalHistory %}
        <table>
                <thead>
                <tr>
                    <td class="title"><h1>Rental History:</h1></td>
                </tr>
                    <tr>
                        <th>Name Product</th>
                        <th>Price</th>
                        <th>Pickup Date</th>
                        <th>Return Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rentHistory in historyliste %}
                        {% if rentHistory.getStartedAt()|date("Y-m-d H:i:s") < currentDate %}
                            <tr>
                                <td>{{ rentHistory.getProduct().getLabel() }}</td>
                                <td>{{ rentHistory.getPrice() }}€</td>
                                <td>{{ rentHistory.getStartedAt()|date("d-m-Y H:i") }}</td>
                                <td>{{ rentHistory.getEndedAt()|date("d-m-Y H:i") }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
              
            </tbody>
        {% else %}
            <p>No rental history available.</p>
        {% endif %}
        </table>

</div>
{% endblock %}
