{% extends 'base.html.twig' %}

{% block title %}Modify instance parameters{% endblock %}

{% block body %}
<div class="flex p-6 justify-center bg-secondary">
    <div class="bg-white p-8 rounded-lg shadow-md min-w-96">
        <h1 class="text-2xl font-bold mb-6 text-center">Modify parameters</h1>

        {{ form_start(form) }}
            <div class="flex flex-col">
                {{ form_label(form.accent) }}
                {{ form_widget(form.accent, {'attr': {'class': 'form-control rounded-lg bg-gray-100 p-1'}}) }}
                {{ form_errors(form.accent) }}
            </div>

            <div class="flex flex-col">
                {{ form_label(form.secondary) }}
                {{ form_widget(form.secondary, {'attr': {'class': 'form-control rounded-lg bg-gray-100 p-1'}}) }}
                {{ form_errors(form.secondary) }}
            </div>
            <button type="submit" class="mt-6 bg-accent text-white font-bold py-2 px-4 rounded-full">Modify</button>
        {{ form_end(form) }}
        
    </div>
</div>
{% endblock %}
